@threeBoxBlack: #181F21;
@lighterFont: #747677;
@coverHeight: 70px;

.boxAddress {
  background: rgba(251, 251, 255, 1);
  height: 32px;
  padding: 0px;
  border: 1px solid rgb(237, 242, 251);
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.04);
  font-family: Arial, sans-serif;
  position: relative;
  float: left;
  display: block;
  width: 172px;
  -webkit-font-smoothing: antialiased;
}

.boxAddressFull {
  width: 400px;
}

.boxAddressWrap {
  display: block;
  height: 50px;
  float: left;
  position: relative;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.boxAddress .boxImg {
  background: rgb(7, 73, 136);
  height: 32px;
  width: 32px;
  border-radius: 3px 0px 0px 3px;
  overflow: hidden;
  display: inline-block;
  float: left;
}

.boxShortAddress {
  cursor: default;
  color: rgb(124, 138, 167);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.015em;
  display: block;
  padding: 8px 11px;
  float: left;
}

.addressCopy {
  color: #b7bece;
  border-left: 1px solid #edf2fb;
  padding: 9px 4px 4px 9px;
  width: 16px;
  font-size: 12px;
  height: 20px;
  color: #b7bece;
  float: left;
  display: inline-block;
}

.addressCopy:hover {
  cursor: pointer;
  color: #7c8aa7;
}

.addressCopy:active {
  background-color: #f7f7fb;
}

.hoverProfile {
  position: absolute;
  border-radius: 10px;
  border: 1px solid rgb(237, 242, 251);
  box-shadow: 0 3px 8px 0 rgba(87, 87, 87, 0.15);
  background: white;
  color: @threeBoxBlack;
  width: 230px;
  z-index: 1111;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 20px 20px 20px;
}

.hoverProfile.bottom {
  top: 46px;
  left: -15px;
}

.hoverProfile.top {
  bottom: 46px;
  left: -15px;
}

.hoverProfile.right {
  top: -50%;
  left: calc(100% + 15px);
}

.hoverProfile.left {
  top: -50%;
  right: calc(100% + 15px);
}

.hoverProfileEmpty {
  padding: 20px;
}

.hoverProfile p {
  letter-spacing: .4px;
}

.hoverProfile .coverPicture {
  position: absolute;
  top: 0;
  width: 100%;
  height: @coverHeight;
  z-index: 1;
  margin-left: -20px;
}

.hoverProfile .coverPicture_image {
  min-width: 100%;
  min-height: @coverHeight;
  max-width: 100%;
  max-height: @coverHeight;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #f5f5f5;
}

.hoverProfile .profileValue {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.hoverProfile .profileValue a {
  text-decoration: none;
  color: rgb(72, 125, 236);
  font-size: 14px;
  width: 80%;
}

.hoverProfile p {
  margin: 0;
  color: @lighterFont;
}

.hoverProfile .profileValuePicture {
  z-index: 2;
  margin-top: 10px;
}

.hoverProfile .profileValuePicture img {
  background: rgb(7, 73, 136);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid white;
}

.hoverProfile .noProfileImgSpacer {
  margin-top: 65px;
}

.hoverProfile .profileDescription p {
  font-size: 14px;
  margin-top: 4px;
}

.hoverProfile .profileValue .profileText {
  padding-left: 6px;
}

.hoverProfile .profileValueName {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  width: 100%;
}

.hoverProfile .profileValueName .profileText {
  text-decoration: none;
  color: @threeBoxBlack;
}

.hoverProfile .profileValueName .profileText:hover {
  text-decoration: underline;
}

.hoverProfile .profileValueName .profileText:visited {
  color: @threeBoxBlack;
}

.hoverProfile .boxLink {
  font-size: 11px;
  border-radius: 0px 0px 3px 3px;
  // margin-top: 7px;
  color: @lighterFont;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hoverProfile .logo {
  opacity: .1 !important;
  height: 18px;
  width: 18px;
}

.hoverProfile .boxLink a {
  margin-right: 5px;
}

.hoverProfile .BoxLinkText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hoverProfile .boxLinkEmpty {
  font-size: 11px;
  text-align: center;
  border-radius: 0px 0px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hoverProfile .boxLink a {
  text-decoration: none;
  color: rgb(72, 125, 236);
  font-weight: 600;
}

.hoverProfile .boxLink svg {
  color: rgb(72, 125, 236);
}

.hoverProfile .boxLinkEmpty_text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hoverProfile .boxLinkEmpty a {
  text-decoration: none;
  color: rgb(72, 125, 236);
  font-weight: 600;
  margin-right: 5px;
}

.hoverProfile .boxLinkEmpty span {
  color: @lighterFont;
}

.hoverProfile .boxLinkEmpty svg {
  color: rgb(72, 125, 236);
}

.hoverProfile .profileDetails {
  margin: 22px 0 18px 0;
  width: 100%;
}

.hoverProfile .profileDetails p {
  font-size: 11px;
  width: 20%;
}

.hoverProfile:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 1px solid rgb(237, 242, 251);
  border-right: 1px solid rgb(237, 242, 251);
  background: white;
}

.hoverProfile.bottom:after {
  top: -6px;
  left: 50%;
  margin-left: -10px;
  -moz-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.hoverProfile.top:after {
  bottom: -6px;
  left: 50%;
  margin-left: -10px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hoverProfile.right:after {
  top: 37px;
  left: -6px;
  margin-top: -10px;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.hoverProfile.left:after {
  top: 37px;
  right: -6px;
  margin-top: -10px;
  -moz-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.boxAddressWrap:hover .hoverProfile {
  display: flex;
}

.loadingText {
  text-align: center;
  padding: 2px;
  font-size: 13px;
}

// .paddingWrap {
//   padding: 12px 19px 3px 19px;
// }